:root {
  font-size: 6.25%;
  --bg-body: #000;
  --text: #E1E1E6;
  --placeholder: #7C7C8A;
  --primary: #065E7C;
  --primary-light: #4A808C;
  --primary-dark: #092D38;
  --secondary: #06181C;
  --secondary-dark: rgba(6, 22, 27, 0.5);
  --danger: #F75A68;
}

* {
  font-family: 'Roboto', sans-serif;
  font-size: 16rem;
  color: var(--text);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-body);
}

.hidden {
  display: none;
}

#container {
  width: 90%;
  max-width: 1120px;
  margin: 0 auto;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 90px 0;
}

form {
  display: flex;
  gap: 8px;
}

form input,
form button {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
}

form input {
  min-width: 462px;
  padding: 16px;
  background-color: var(--secondary);
}

form input::placeholder {
  color: var(--placeholder);
}

form button {
  gap: 8px;
  font-size: 14rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  padding: 12px 32px;
  background-color: var(--primary);
  cursor: pointer;
}

form button:disabled {
  background-color: #888;
  cursor: not-allowed;
}

#table-wrapper {
  border: 1px solid var(--primary-light);
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 90rem;
}

table {
  display: block;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

table * {
  font-size: 20rem;
  font-weight: bold;
}

table thead {
  background-color: var(--primary-dark);
}

table thead th {
  padding: 16px 40px;
}

table thead th,
table tbody td {
  width: 219px;
}

table thead th:nth-child(1),
table tbody td:nth-child(1) {
  width: 504px;
}

table thead th:nth-child(4),
table tbody td:nth-child(4) {
  width: 178px;
}

table tbody {
  display: block;
  overflow-y: auto;
  overflow-y: overlay;
  max-height: 628rem;
}

table tbody::-webkit-scrollbar {
  width: 22px;
  background-color: transparent;
}

table tbody::-webkit-scrollbar-thumb {
  border: 8px solid transparent;
  border-radius: 10px;
  background-color: #4A808C;
  background-clip: padding-box;
}

table tbody tr {
  border-top: 1px solid var(--primary-light);
  background-color: var(--secondary);
}

table tbody tr:first-child {
  border: none;
}

table tbody tr:nth-child(odd) {
  background-color: var(--secondary-dark);
}

table tbody td {
  padding: 24px 40px;
}

table tbody #usuario {
  display: flex;
  align-items: center;
  gap: 16px;
}

table tbody #usuario img {
  max-width: 56px;
  border-radius: 50%;
}

table tbody #usuario div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

table tbody #login {
  font-weight: normal;
}

table tbody a {
  text-decoration: none;
  color: var(--danger);
}

#empty {
  height: 628rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60rem;
  font-size: 40rem;
  color: #4E5455;
  font-weight: bold;
  background-color: #030B0D;
}